:root {
	--border: 2px dashed black;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	text-align: center;
}

.game-board {
	border: var(--border);
	cursor: pointer;
	margin: 0 auto;
	height: 400px;
	width: 400px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.cell {
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 2.5rem;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
	border-bottom: var(--border);
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
	border-top: var(--border);
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
	border-right: var(--border);
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
	border-left: var(--border);
}

.reset-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	text-align: center;
}

#reset {
	border: 1px solid black;
	border-radius: 5px;
	margin: 1rem 0 1rem 0;
	padding: 5px 10px 5px 10px;
}

.names {
	display: flex;
	justify-content: space-evenly;
}
